<div class="container" id="container">
    <app-login></app-login>
    <app-sign-up></app-sign-up>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Content de te revoir!</h1>
          <p>Pour rester en contact avec nous, veuillez vous connecter avec vos informations personnelles</p>
          <button class="ghost" id="signIn">Connexion</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Bienvenue chez Sunu Baimi</h1>
          <p>Entrez vos informations personnelles et commencez votre voyage avec nous</p>
          <button class="ghost" id="signUp">S'inscrire</button>
        </div>
      </div>
    </div>
  </div>
  